<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="esparksinc-ivypayment-hyva-compatibility" xsi:type="array">
                    <item name="original_module" xsi:type="string">Esparksinc_IvyPayment</item>
                    <item name="compat_module" xsi:type="string">Esparksinc_IvyPaymentHyvaCompatibility</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Hyva\ReactCheckout\ViewModel\CheckoutConfigProvider">
        <plugin name="hyva_react_checkout_ivy_payment_checkout_config"
                type="Esparksinc\IvyPaymentHyvaCompatibility\Plugin\CheckoutConfigProviderPlugin"/>
    </type>
</config>
